asgiref
attrs
certifi
channels
charset-normalizer
colorama
distlib
Django
django-colorfield
django-jazzmin
djangorestframework
djangorestframework-simplejwt
docker
drf-spectacular
et-xmlfile
filelock
idna
inflection
iniconfig
jsonschema
jsonschema-specifications
numpy
openpyxl
packaging
pandas
Pillow
platformdirs
pluggy
Pygments
PyJWT
pytest
pytest-django
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
setuptools
six
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
whitenoise
