{% extends "base.html" %}

{% load static %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex">
              <div class="flex-grow-1 bg-login-image"
                   style="background: url('{% static 'assets/img/logo.png' %}') center / contain no-repeat;"></div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Bienvenido</h4>
                </div>

                {% if form.errors %}
                  <div class="alert alert-danger" role="alert">
                    Usuario o contraseña incorrectos.
                  </div>
                {% endif %}

                <form class="user" method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}

                  <div class="form-group">
                    <input class="form-control form-control-user"
                           type="text"
                           id="id_username"
                           name="username"
                           placeholder="Nombre de usuario"
                           required
                           autofocus>
                  </div>

                  <div class="form-group">
                    <input class="form-control form-control-user"
                           type="password"
                           id="id_password"
                           name="password"
                           placeholder="Contraseña"
                           required>
                  </div>

                  <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                    Entrar
                  </button>
                </form>

                {# El login clásico no necesita JS; redirige a next o LOGIN_REDIRECT_URL (/my-services/) #}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
