# === Django / Backend ===
# IMPORTANTE EN PRODUCCIÓN: Cambia esta clave secreta por una cadena larga aleatoria
DJANGO_SECRET_KEY=cambiar_en_produccion_12345
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=paas.tfg.etsii.urjc.es,localhost,127.0.0.1

# === PaaSify Configuration ===
# URL base real para los subdominios y redirecciones (Con https y dominio)
PAASIFY_BASE_URL=https://paas.tfg.etsii.urjc.es

# === Configuración Base de Datos (PostgreSQL en Docker) ===
DB_NAME=paasify_db
DB_USER=paasify_admin
# IMPORTANTE EN PRODUCCIÓN: Cambia esta contraseña (se usará en PG y en Django automáticamente)
DB_PASSWORD=cambiar_password_segura!!
DB_HOST=db
DB_PORT=5432

# === Herramientas Externas ===
# (En Linux / Contenedor no suele usarse WinRAR, por defecto se usa las herramientas internas)
UNRAR_TOOL_PATH=

# === Docker Hub Authentication (Opcional, para evitar rate limits al alumno) ===
DOCKER_HUB_USERNAME=
DOCKER_HUB_PASSWORD=
